 <!-- Footeer Section -->

 <footer>
    <div class="section_container">
        <div class="footer_container">
            <div class="footer_logo">
                <a href="#">
                    <img src="https://img.freepik.com/free-photo/handsome-young-man-using-his-digital-tablet-isolated-white_1301-4938.jpg?t=st=1745216604~exp=1745220204~hmac=cef9e9602b09352089f36cd58ad6d3b896a75bb54912f0e291809810f4d47b51&w=740" alt="">
                    <h2><a href="/home/My_portfolio" style="text-decoration: none;">Passionate Supriyo</a></h2>
                </a>
            </div>

            <div class="useful_links">
                <h3>useful links</h3>
                <ul>
                    <li><a href="/home/My_portfolio/about">About</a></li>
                    <li><a href="/home/My_Portfolio/_skill">Skills</a></li>
                    <li><a href="/home/My_Portfolio/see_PROJECTS">Projects</a></li>
                    <li><a href="/home/My_Portfolio/_Contact_ME">Contact Me</a></li>
                </ul>
            </div>
            <div class="contact_me">
                <h3>Contact Me</h3>
                <ul>
                    <li>
                        <a href="/home/My_Portfolio/get-location">
                            <i class="bx bx-current-location"></i>
                            <span>Central Park, Kalyani</span>
                        </a>
                    </li>
                    <li>
                        <i class="bx bx-phone-call"></i>
                        <span>6294769803</span>
                    </li>
                </ul>
            </div>
            <div class="follow_me">
                <h3>Follow Me</h3>
                <ul>
                   <i class="bx bxl-facebook-circle"></i>
                   <i class="bx bxl-twitter"></i>
                   <a href="https://instagram.com/supriyo_ghoshal_"><i class="bx bxl-instagram"></i></a>
                   <a href="https://www.linkedin.com/in/supriyo-ghoshal-b5551028b/"><i class="bx bxl-linkedin"></i></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
