    <!-- Header section --> 

    <header class="header" id="head">
        <nav>
            <div class="nav_logo">
                <a href="#">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.riKUyhffLze9ijYrYV4cBgHaHa&pid=Api&P=0&h=180" alt="">
                    <h2>Portfolio</h2>
                </a>
            </div>
            <input type="checkbox" id="click">
            <label for="click">
                <i class="menu_btn bx bx-menu"></i>
                <i class="close_btn bx bx-x"></i>
            </label>
            <ul>
                <li><a href="/home/My_Portfolio">Home</li>
                <li><a href="/home/My_Portfolio/about">About</a></li>
                <li><a href="/home/My_Portfolio/_skill">Skills</a></li>
                <li><a href="/home/My_Portfolio/see_PROJECTS">Projects</a></li>
                <li><a href="/home/My_Portfolio/_Contact_ME">Contact Me</a></li>
            </ul>
        </nav>
    </header>