<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/skill.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/login.css">

    <!-- Boxicons CDN -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">


    <title>My Portfolio</title>
</head>
<body>
    <%- include("../includes/navbar.ejs") %>
    <div class="container"><%- body %></div>
    <%- include("../includes/footer.ejs") %>
</body>
</html>