<% layout("/layouts/boilerplate") %>

<!-- Contact section -->
<section class="Contact" id="Contact Me">
    <h2 class="contact-title">Contact me</h2>
      <div class="section_contact">
          <div class="input_section">
            <input type="text" placeholder="Full Name*">
            <input type="text" placeholder="Email Address*">
          </div>
          <div class="input_section">
            <input type="text" placeholder="Mobile Number*">
            <input type="text" placeholder="Email Subject">
          </div>
          <div class="message_section">
            <textarea placeholder="Send message here"></textarea>
          </div>
          <div class="send_button_container">
              <a href=""><button class="send_button"> Send Message <i class="fa-solid fa-paper-plane"></i></button></a>
          </div>
        </div>
  </section>