<% layout("/layouts/boilerplate") -%>
<section class="hero_section" id="Home">
    <div class="section_container">
      <div class="hero_content">
        <!-- Left Text Column -->
        <div class="hero_text">
          <h3>Hello, It's Me</h3>
          <h1><span>Supriyo Ghoshal</span></h1>
          <h2>And I'm a Full-Stack Web Developer<span class="typing-role"></span></h2>
          <p>
            I'm an aspiring Full-Stack Web Developer, exploring HTML, CSS, JS, React.js, Java, and Spring Boot. Eager to build creative, high-performance websites.
          </p>
          <div class="hero_icons">
            <a href="#"><i class="bx bxl-facebook-circle"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.linkedin.com/in/supriyo-ghoshal-b5551028b/"><i class="bx bxl-linkedin"></i></a>
            <a href="https://instagram.com/supriyo_ghoshal_"><i class="bx bxl-instagram"></i></a>
          </div>
          <div class="hero_button">
            <a href="/home/My_Portfolio/about"><button>More About Me</button></a>
          </div>
        </div>
  
        <!-- Right Image Column -->
        <div class="hero_image">
          <img src="https://img.freepik.com/free-photo/medium-shot-man-with-paperwork_23-2150379175.jpg?t=st=1745211030~exp=1745214630~hmac=75fffd0071426e42d2483b2ca9484524e9222954db1c1e0fd4d7547dd646e5e3&w=1380" alt="Supriyo Image" />
        </div>
      </div>
    </div>
</section>

<% layout("/layouts/boilerplate") %>
<!-- About Section--> 
<section class="about_me" id="About">
    <div class="section_container">
      <h2 class="section_title">About Me</h2>
      <div class="about_card">
        
        <!-- Left: Image -->
        <div class="about_img">
          <img src="https://img.freepik.com/free-photo/business-man-front-office-building_23-2148018586.jpg?t=st=1745214256~exp=1745217856~hmac=026c0b8ed320d96b11ebe954decc5e42ac62acbcd50cec2d39badb9a31c0d603&w=740" alt="Supriyo Ghoshal">
        </div>
        
        <!-- Right: Text -->
        <div class="about_content">
          <h2 class="typing-text">Hello! I'm Supriyo Ghoshal</h2>
          <p>
            I'm a passionate learner from the University of Kalyani, currently pursuing Information Technology. I’m focused on building beautiful, responsive, and high-performing web applications using technologies like HTML, CSS, JavaScript, React.js, Java, and SpringBoot.
          </p>
          <p>
            I believe in learning by doing, and my goal is to become a full-stack developer who builds things that matter. I love solving problems, exploring new tools, and collaborating with creative minds.
          </p>
          <div class="about_buttons">
            <button><a href="" style="text-decoration: none;" download>Download Resume</a></button>
            <button><a href="https://www.linkedin.com/in/supriyo-ghoshal-b5551028b/" style="text-decoration: none;">Let's Connect</a></button>
          </div>
        </div>
      </div>
    </div>
  </section>