<% layout("/layouts/boilerplate") -%>
  <!-- Project Section -->
  <section class="project" id="Pro">
    <h2>✨ My Creative Projects ✨</h2>
    <div class="project-grid">
      
      <div class="flip-card">
        <div class="flip-inner">
          <div class="flip-front">
            <img src="https://appticz.com/admin/images/ogImage/ogImage1684132921447.png" alt="Airbnb Clone Project" />
            <h3>Airbnb Clone</h3>
          </div>
          <div class="flip-back">
            <p>This is a Full-Stack Project</p>
            <a href="" target="_blank">View Project</a>
          </div>
        </div>
      </div>
  
      <div class="flip-card">
        <div class="flip-inner">
          <div class="flip-front">
            <img src="https://images.template.net/120192/3d-modeling-portfolio-presentation-template-dgpnc.jpg" alt="Portfolio Project" />
            <h3>Portfolio</h3>
          </div>
          <div class="flip-back">
            <p>A personal portfolio website showcasing my skills and work.</p>
            <a href="#">See Here</a>
          </div>
        </div>
      </div>
  
      <div class="flip-card">
        <div class="flip-inner">
          <div class="flip-front">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpYZ342fZ1IsofnFvpQ_u0W44BwS0SZL24KQ&s" alt="Coffee Shop Project" />
            <h3>Coffe Site</h3>
          </div>
          <div class="flip-back">
            <p>A modern landing page for a fictional coffee brand.</p>
            <a href="#">Explore it</a>
          </div>
        </div>
      </div>
  
      <div class="flip-card">
        <div class="flip-inner">
          <div class="flip-front">
            <img src="https://media.istockphoto.com/id/852513436/photo/clock-on-brick-wall.jpg?s=612x612&w=0&k=20&c=0NYz9_8BDBNKAkOwdKnWDr1vqvbQTXAQJcGIR3Vj084=" alt="Clock Project" />
            <h3>My Clock</h3>
          </div>
          <div class="flip-back">
            <p>Live digital clock with dark/light mode toggle.</p>
            <a href="#">See Clock</a>
          </div>
        </div>
      </div>
  
      <div class="flip-card">
        <div class="flip-inner">
          <div class="flip-front">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYC5ELcypMSxCl_0Z72QTMnhJz7rwMcol9Q&s" class="card-img-top" alt="Simon Game" />
            <h3>Simon Says</h3>
          </div>
          <div class="flip-back">
            <p>Classic memory game using HTML, CSS, and JavaScript.</p>
            <a href="#">Play now</a>
          </div>
        </div>
      </div>
    </div>
  </section>